<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<title>Recherche</title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main.css">

		<script src="node_modules/fetch-jsonp/build/fetch-jsonp.js"></script>
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="node_modules/vue-router/dist/vue-router.js"></script>
	</head>
	<body>
		<div id="app" v-cloak>
			<div id="loader-wrapper" v-if="loading">
				<div id="loader"></div>
			</div>
			<nav>
				<div id="nav-wrapper">
					<ul>
						<li>
							<router-link to="/" class="tac italic"><img src="https://upload.wikimedia.org/wikipedia/fr/archive/0/00/20160629185524%21Deezer_logo.png" alt="Logo de l'application officielle Deezer">Non-officiel</router-link>
						</li>
						<li>
							<form @submit.prevent="goSearch">
								<input type="text" placeholder="Rechercher" v-model="quickSearchInput">
								<i class="fa fa-search" @click="goSearch"></i>
							</form>
							<!-- <router-link to="/search/">Recherche</router-link> -->
						</li>
						<li>
							<router-link to="/favs"><i class="fa fa-heart"></i>Coups de cœur</router-link>
						</li>
						<li>
							<router-link to="/favs/artistes"><i class="fa fa-user"></i>Artistes</router-link>
						</li>
						<li>
							<router-link to="/favs/albums"><i class="fa fa-music"></i>Albums</router-link>
						</li>
					</ul>
					<div id="widg-target" class="deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=220&height=220&color=007FEB&layout=dark&size=medium&type=tracks&id=1079668&app_id=277922" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="220" data-height="220"></div>
				</div>
			</nav>
			
			<transition name="components" mode="out-in">
				<router-view>
				</router-view>
			</transition>
			<div id="purge" @click="purge" style="position: fixed; bottom: 1rem; right: 1rem; cursor: pointer; background-color: #cccccc; padding: .5rem 1rem; border-radius: 5px;">Vider le cache</div>
		</div>
		
		<!-- <script type="module" src="js/main.js"></script> -->
		<script src="bundle.js"></script>
	</body>
</html>