<div id="artist">
	<div id="header">
		<div id="header-top"></div>
		<div id="header-bottom">
			<div id="artist-pres">
				<div id="picture-artist">
					<img :src="artist.picture_medium" alt="">
				</div>
				<div id="picture-side">
					<div id="picture-side-top">
						<h1>{{ artist.name }}</h1>
						<span  class="tiny-font italic">{{ artist.nb_fan }} fans</span>
					</div>
					<div id="picture-side-bottom">
						<div @click="">
							<span class="fa fa-heart"></span>
							<span class="fa fa-heart-o"></span>
							<span @click="$root.addOrRemoveFav(artist)">Ajouter</span>
						</div>
						<div>
							Partager
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<tabs-menu headers="discographie, top-titres, artistes-similaires">
		<album-grid :albums="albums" :release="true" slot="discographie" key="1"></album-grid>
		<track-grid :tracks="tops" slot="top-titres" key="1"></track-grid>
		<artist-grid :artists="similars" slot="artistes-similaires" key="1"></artist-grid>
	</tabs-menu>
	<div id="tracks"></div>
</div>