<div id="results-for-albums" >
	<p> {{ albums.total }} albums</p>

	<ul class="flex flex-wrap">
		<li v-for="album in albums.data">
			<router-link :to="'/album/' + album.id">
				<figure class="w-250">
					<img :src="album.cover_medium" alt="" class="radius-5px">
					<figcaption>
						<h2>{{ album.title }}</h2>
						<h3 v-if="album.artist" class="tal">par {{ album.artist.name }}</h3>
						<p v-if="release">Sorti le {{ album.release_date }}</p>
					</figcaption>
				</figure>
			</router-link>
		</li>
	</ul>
</div>