<div id="results-for-albums" v-if="!$root.loading">
	<p> {{ albums.total }} albums</p>

	<ul class="flex flex-wrap">
		<li v-for="album in albums.data">
			<router-link :to="'/album/' + album.id" :key="album.id">
				<figure class="w-250">
					<div class="pos-r" @mouseenter="$root.toggleShowBtn(album.id)" @mouseleave="$root.toggleShowBtn(album.id)">
						<img :src="album.cover_medium" alt="" class="radius-5px">
						<div class="group-btn flex align-around" v-if="$root.showBtnArray.indexOf(album.id) !== -1">
							<div class="play-btn" @click.prevent="$root.initWidget(album)"><i class="fa fa-play"></i></div>
							<div class="fav-btn-round ml-1" @click.prevent="$root.addOrRemoveFav(album)">
								<transition name="heart-fav" mode="out-in">
									<i key="1" v-if="`album#${album.id}` in $root.favs" title="Retirer des favoris" class="fa fa-heart" aria-hidden="true"></i>
									<i key="2" v-else title="Ajouter aux favoris" class="fa fa-heart-o" aria-hidden="true"></i>
								</transition>
							</div>
						</div>
					</div>
					<figcaption>
						<h2>{{ album.title }}</h2>
						<h3 v-if="album.artist" class="tal">par {{ album.artist.name }}</h3>
						<p v-if="release">Sorti le {{ album.release_date }}</p>
					</figcaption>
				</figure>
			</router-link>
		</li>
	</ul>
</div>